<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{template.Title}}</h3>
		</div>
		<div class="panel-body">
			<h4>Course Questions</h4>
			<ul class="list-group">
				<li class="list-group-item" 
					ng-repeat="courseQuestion in template.CourseQuestions">{{courseQuestion.Text}}
				</li>
			</ul>
			<h4>Teacher Questions</h4>
			<ul class="list-group">	
				<li class="list-group-item" 
					ng-repeat="teacherQuestion in template.TeacherQuestions">{{teacherQuestion.Text}}
				</li>
			</ul>
		</div>
		<div class="panel-footer">
			<button class="btn btn-primary" ng-click="newQuestion(); toggle()">New Question</button>
			<button class="btn btn-primary" ng-click="toggle2()">New Evaluation</button>	
		</div>
	</div>
</div>

<div class="col-md-6" ng-show="showQuestion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">New Question</h3>
		</div>
		<div class="panel-body">
			<select ng-model="questionType">
				<option value="teacherQuestion">Teacher Question</option>
				<option value="courseQuestion">Course Question</option>
			</select>
			Question Text:
			<input type="text" ng-model="text" class="form-control"></input>
			<br></br>
			Type of answer?
			<select ng-model"answerType">
				<optgroup label="Type of answer?">
					<option value="text">Text</option>
					<option value="single">Single</option>
					<option value="multiple">Multiple</option>
				</optgroup>
			</select>
		</div>
		<div class="panel-footer">
			<button class="btn btn-primary" ng-click="addQuestion(questionType, text, answerType)">Add</button>
		</div>
	</div>
</div>

<div class="col-md-6" ng-show="showEvaluation">
	<form name="newEvaluation" ng-submit="createEvaluation()" novalidate>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Evaluation</h3>
			</div>
			<div class="panel-body">
				StartDate:
				<input type="datetime-local" name="startDate" ng-model="startDate">
				<br>
				EndDate:
				<input type="datetime-local" name="endDate" ng-model="endDate">
			</div>
			<div class="panel-footer">
				<button type="submit" class="btn btn-primary">Create Evaluation</button>
			</div>
		</div>
	</form>
</div>
