<label>{{question.text}}</label>
<textarea type="text"
 	class="form-control"
	placeholder="Svar..."  
	ng-show="question.Type==='text'"></textarea>

<div ng-show="question.Type==='single'">
    <label class="radio-inline">
        <input type="radio" 
               name="{{question.ID}}-radio" 
               id="{{question.ID}}-radio-1" 
               value="option1"> 1
    </label>
    <label class="radio-inline">
        <input type="radio" 
               name="{{question.ID}}-radio" 
               id="{{question.ID}}-radio-2" 
               value="option2"> 2
    </label>
    <label class="radio-inline">
        <input type="radio" 
               name="{{question.ID}}-radio" 
               id="{{question.ID}}-radio-3" 
               value="option3"> 3
    </label>
</div>
<div ng-show="question.Type==='multiple'">
    <label class="checkbox-inline">
        <input type="checkbox" 
               id="inlineCheckbox1" 
               value="option1"> 1
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" 
               id="inlineCheckbox2" 
               value="option2"> 2
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" 
               id="inlineCheckbox3" 
               value="option3"> 3
    </label>
</div>