<h1>NEW TEMPLATE</h1>
<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Template</h1>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					Title:
					<input type="text" ng-model="title" class="form-control">
				</li>
				<li class="list-group-item">
					Title (english):
					<input type="text" ng-model="titleEN" class="form-control">
				</li>
				<li class="list-group-item">
					Intro Text:
					<input type="text" ng-model="introText" class="form-control">
				</li>
				<li class="list-group-item">
					Intro Text (english):
					<input type="text" ng-model="introTextEN" class="form-control">
				</li>
			</ul>
			<button class="btn btn-primary" ng-click="showTeacherQuestion()">Teacher Question</button>
			<button class="btn btn-primary" ng-click="showCourseQuestion()">Course Question</button>
		</div>
		<div class="panel-footer">
			<button class="btn btn-primary" ng-click="createTemplate()">Create Template</button>
		</div>
	</div>
</div>

<div class="col-md-6" ng-show="showCourse">
	<form name="newQuestion" ng-submit="addCourseQuestion()" novalidate>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Course Question</h1>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item">
						Text:
						<input type="text" ng-model="courseQuestion.text" class="form-control">
					</li>
					<li class="list-group-item">
						Type of answer:
						<select ng-model="courseQuestion.answerType">
							<optgroup label="Type of answer?">
								<option value="text">Text</option>
								<option value="single">Single</option>
								<option value="multiple">Multiple</option>
							</optgroup>
						</select>
					</li>
				</ul>
			</div>

			<div class="panel-footer">
				<button type="submit"class="btn btn-primary">Add Question</button>
			</div>
		</div>
	</form>
</div>

<div class="col-md-6" ng-show="showTeacher">
	<form name="newQuestion" ng-submit="addTeacherQuestion()" novalidate>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Teacher Question</h1>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item">
						Text:
						<input type="text" ng-model="teacherQuestion.text" class="form-control">
					</li>
					<li class="list-group-item">
						Type of answer:
						<select ng-model="teacherQuestion.answerType">
							<optgroup label="Type of answer?">
								<option value="text">Text</option>
								<option value="single">Single</option>
								<option value="multiple">Multiple</option>
							</optgroup>
						</select>
					</li>
				</ul>
			</div>

			<div class="panel-footer">
				<button type="submit"class="btn btn-primary">Add Question</button>
			</div>
		</div>
	</form>
</div>
